<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moviebooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/cinema"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cinema"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moviebooking"
        tools:targetApi="31">
        <activity
            android:name=".MovieManager.UpdateDeleteMovieActivity"
            android:exported="false" />
        <activity
            android:name=".MovieManager.AddMovieActivity"
            android:exported="false" />
        <activity
            android:name=".MovieManager.MovieListActivity"
            android:exported="false"
            android:theme="@style/ListThemeDark"/>
        <activity
            android:name=".MovieListActivity"
            android:exported="false" />
        <activity
            android:name=".ManageSchedule.UpdateScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ManageSchedule.ScheduleListActivity"
            android:exported="false"
            android:theme="@style/ListThemeDark"/>
        <activity
            android:name=".ManageSchedule.AddScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewFilmActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Trailer.MembershipActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".FilmReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Trailer.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".booking.BookingStatusActivity"
            android:exported="false" />
        <activity
            android:name=".booking.SnackSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".booking.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".moviepage.MoviePageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".booking.BookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".booking.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".AllMovieActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".home.UserProfile"
            android:exported="false" />
        <activity
            android:name=".home.EditUserProfile"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>